@import "/src/variables.scss";

.header-background {
  position: fixed;
  z-index: 5;
  height: -moz-fit-content; //firefox
  height: --webkit-fit-content; //safari
  background-color: $white;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
}

.header-content {
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  width: $screenWidth1;
  @media (max-width: $step1Respo) {
    width: $screenWidth2;
  }
  @media (max-width: $step2Respo) {
    width: $screenWidth3;
    padding: 10px 0;
  }
  @media (max-width: $step3Respo) {
    width: $screenWidth4;
  }
  @media (max-width: $step4Respo) {
    width: $screenWidth5;
  }
  img {
    height: 70px;
    width: 70px;
    filter: $filterBlack;
    &:hover {
      cursor: $cursorCircleRed;
    }
  }
}

.header-menu {
  height: 40px;
  width: 40px;
  position: relative;
  .border {
    width: 100%;
    border-block-end: 4px solid $black;
  }
  :nth-child(1) {
    position: absolute;
    top: 10%;
  }
  :nth-child(2) {
    position: absolute;
    top: 50%;
    left: 0;
  }
  :nth-child(3) {
    position: absolute;
    top: 90%;
  }
  &:hover {
    cursor: $cursorCircleRed;
  }
}
.animation {
  :nth-child(1) {
    animation: crossMenu-1border 0.3s ease-in forwards;
  }
  :nth-child(2) {
    animation: crossMenu-2border 0.3s ease-in forwards;
  }
  :nth-child(3) {
    animation: crossMenu-3border 0.3s ease-in forwards;
  }
}

.reverse-animation {
  :nth-child(1) {
    animation: crossMenu-1border-reverse 0.3s ease-in forwards;
  }
  :nth-child(2) {
    animation: crossMenu-2border-reverse 0.3s ease-in forwards;
  }
  :nth-child(3) {
    animation: crossMenu-3border-reverse 0.3s ease-in forwards;
  }
}

@keyframes crossMenu-1border {
  0% {
    top: 10%;
    right: 0;
  }
  50% {
    width: 18px;
    right: 0;
  }
  100% {
    top: 30%;
    width: 18px;
    right: 5%;
    transform: rotate(-45deg);
  }
}

@keyframes crossMenu-2border {
  from {
    top: 50%;
    left: 0;
  }

  to {
    transform: rotate(45deg);
  }
}

@keyframes crossMenu-3border {
  0% {
    top: 90%;
  }
  50% {
    width: 18px;
    left: 0;
  }
  100% {
    width: 18px;
    top: 70%;
    left: 5%;
    transform: rotate(-45deg);
  }
}


@keyframes crossMenu-1border-reverse {
  0% {
    top: 30%;
    width: 18px;
    right: 5%;
    transform: rotate(-45deg);
  }
  50% {
    width: 18px;
    right: 0;
  }
  100% {
    top: 10%;
    right: 0;
  }
}

@keyframes crossMenu-2border-reverse {
  from {
    transform: rotate(45deg);
  }

  to {
    top: 50%;
    left: 0;
  }
}

@keyframes crossMenu-3border-reverse {
  0% {
    width: 18px;
    top: 70%;
    left: 5%;
    transform: rotate(-45deg);
  }
  50% {
    width: 18px;
    left: 0;
  }
  100% {
    top: 90%;
  }
}
