.header-background {
    position: fixed;
    z-index: 1;
    height: fit-content;  
    background-color: #F4F4F4;
    width: 100vw;
    top: 0;
    left: 0;
    right:0;
    display: grid;
}

.header-content {
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    width: 1240px;
    img {
        height: 70px;
        width: 70px;
        filter: invert(2%) sepia(4%) saturate(1127%) hue-rotate(131deg) brightness(97%) contrast(97%);
        &:hover {
            cursor: url("/assets/img/cursor/Cursor-pointer-red.png") 17 17, crosshair;
        }

    }
}

.header-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 32px;
    img {
        width: 40px;
        height: auto;
        filter: invert(2%) sepia(4%) saturate(1127%) hue-rotate(131deg) brightness(97%) contrast(97%);
    }
    &:hover {
        cursor: url("/assets/img/cursor/Cursor-pointer-red.png") 17 17, crosshair;
    }
}