.footer-background {
  background-color: #090a0a;
  width: 100vw;
  height: fit-content;
  p {
    color: #f4f4f4;
    background-color: #090a0a;
  }
  img {
    filter: invert(100%) sepia(44%) saturate(28%) hue-rotate(0deg)
      brightness(111%) contrast(91%);
  }
  display: grid;
}

.footer-content {
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: space-between;
  width: 1240px;
}

.footer-right,
.footer-left {
  padding: 50px 0 60px 0;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  img {
    filter: invert(100%) sepia(44%) saturate(28%) hue-rotate(0deg) brightness(111%) contrast(91%);
    width: 50px;
  }
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  img {
    transition: margin-top 0.3s;
    width: 40px;
    height: 40px;
    filter: invert(100%) sepia(44%) saturate(28%) hue-rotate(0deg) brightness(111%) contrast(91%);
    &:hover {
      cursor: url("../../assets/img/cursor/Cursor-pointer-red.png") 17 17, crosshair;
      filter: invert(8%) sepia(75%) saturate(6406%) hue-rotate(344deg) brightness(98%) contrast(102%);
      transition: margin-top 0.3s;
      margin-top: -20px;
    }
  }
  p {
    font-size: 16px;
    font-weight: 500;    
    cursor: url("../../assets/img/cursor/Cursor-pointer-red.png") 17 17, crosshair;
    &:hover {
      color: #9a031e;
    }
  }
}
.footer-right div {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  img:nth-child(2) {
    transition: margin-top 0.3s;
    height: 35px;
    width: 35px;
    margin: 7px;
    &:hover {
      transition: margin-top 0.3s;
      margin-top: -20px;
    }
  }
}

.copyright-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid #f4f4f4;
  background-color: #090a0a;
  p {
    background-color: transparent;
    color: #f4f4f4;
    font-size: 15px;
    font-weight: 500;
  }
}
