@import "/src/variables.scss";

.footer-background {
  background-color: $black;
  width: 100vw;
  height: fit-content;
  p {
    color: $white;
    background-color: $black;
  }
  img {
    filter: $filterWhite;
  }
  display: grid;
}

.footer-content {
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: space-between;
  width: $screenWidth1;
  @media (max-width: $step1Respo) {
    width: $screenWidth2;
  }
  @media (max-width: $step2Respo) {
    width: $screenWidth3;
  }
  @media (max-width: $step3Respo) {
    width: $screenWidth4;
    flex-direction: column-reverse;
  }
  @media (max-width: $step4Respo) {
    width: $screenWidth5;
  }
  .footer-right,
.footer-left {
  padding: 50px 0 60px 0;
  @media (max-width: $step3Respo) {
    padding: 0;
    align-items: center;
  }
}
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (max-width: $step3Respo) {
    margin-bottom: 20px;
  }
  img {
    filter: $filterWhite;
    height: 60px;
    width: 60px;

  }
  @media (max-width: $step3Respo) {
    flex-direction: row;
    align-items: center;
  }
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  img {
    transition: margin-top 0.3s;
    width: 40px;
    height: 40px;
    filter: $filterWhite;
    &:hover {
      cursor: $cursorPointRightRed;
      filter: $fitlerRed;
      transition: margin-top 0.3s;
      margin-top: -20px;
    }
  }
  p {
    font-size: 16px;
    font-weight: 500;    
    cursor: $cursorPointRightRed;
    &:hover {
      color: $red;
    }
  }
}
.footer-right div {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  img:nth-child(2) {
    transition: margin-top 0.3s;
    height: 35px;
    width: 35px;
    margin: 7px;
    &:hover {
      transition: margin-top 0.3s;
      margin-top: -20px;
    }
  }
}

.copyright-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid $white;
  background-color: $black;
  p {
    background-color: transparent;
    color: $white;
    font-size: 15px;
    font-weight: 500;
  }
}
