.landing-background {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1240px;

}

.landing-content {
    width: 100%;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h1 {
        text-align: center;
        font-size: 200px;
        line-height: 100%;
        margin: 9% 0 -6.5% 0;
        transform: scaley(0.6);
        margin-top: 30%;
    }
}

.stroke-name {
    cursor: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 35px;
}

.stroke {
    width: 577px;
    height: 3px;
    background-color: #090a0a;
}

.landing-name {
    text-wrap: nowrap;
    font-family: 'genos', sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.2px;
    margin-bottom: 5px;
}

.scroll-mail {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: -webkit-fill-available;
    padding-top: 10%;
    p {
        writing-mode: vertical-rl;
        pointer-events: none;
    }
    
}

.scroll-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: -20px;
    gap: 10px;
    p {
        text-align: center;
        writing-mode: unset;
        pointer-events: none;
    }
    img {
        filter: invert(2%) sepia(4%) saturate(1127%) hue-rotate(131deg) brightness(97%) contrast(97%);
    }
}