@import "/src/variables.scss";

.landing-content {
  width: 100%;
  height: 100vh;
  margin: 0 100px;
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: $screenWidth1;
  @media (max-width: $step1Respo) {
    max-width: $screenWidth2;
  }
  @media (max-width: $step2Respo) {
    max-width: $screenWidth3;
  }
  @media (max-width: $step3Respo) {
    max-width: $screenWidth4;
  }
  @media (max-width: $step4Respo) {
    max-width: $screenWidth5;
  }
  .helper {
    align-self: center;
  }
  h1 {
    text-align: center;
    font-size: 200px;
    line-height: 100%;
    margin: 9% 0 -6.5% 0;
    transform: scaley(0.6);
    @media (max-width: $step1Respo) {
      font-size: 150px;
    }
    @media (max-width: $step2Respo) {
      font-size: 100px;
    }
    @media (max-width: $step3Respo) {
      font-size: 80px;
    }
    @media (max-width: $step4Respo) {
      font-size: 60px;
    }
  }
}

.stroke-name {
  cursor: $cursorCircleRed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 35px;
  color: $red;
  @media (max-width: $step3Respo) {
    flex-direction: column;
  }
  .stroke {
    width: 577px;
    height: 3px;
    background-color: $black;
    @media (max-width: $step1Respo) {
      width: 377px;
    }
    @media (max-width: $step2Respo) {
      width: 237px;
      height: 2px;
    }
    @media (max-width: $step3Respo) {
      width: 277px;
      height: 1px;
      margin-top: 10px;
      margin-bottom: -10px;
    }
    @media (max-width: $step4Respo) {
      width: 177px;
    }
  }
  .landing-name {
    text-wrap: nowrap;
    font-family: $genos;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.2px;
    margin-bottom: 5px;
    @media (max-width: $step1Respo) {
      font-size: 37px;
    }
    @media (max-width: $step2Respo) {
      font-size: 32px;
    }
    @media (max-width: $step3Respo) {
      font-size: 27px;
    }
  }
}

.scroll-mail {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: $screenWidth1;
  position: absolute;  
  @media (max-width: $step1Respo) {
    width: $screenWidth2;
  }
  @media (max-width: $step2Respo) {
    width: $screenWidth3;
  }
  @media (max-width: $step3Respo) {
    width: $screenWidth4;
  }
  @media (max-width: $step4Respo) {
    width: $screenWidth5;
  }
  p {
    cursor: $cursorCircleRed;
    writing-mode: vertical-rl;
    padding-top: 5px;

  }
}

.scroll-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: -20px;
  gap: 10px;
  @media (max-width: $step2Respo) {
    margin-right: 0px;
  }
  p {
    cursor: $cursorLogoRed;
    text-align: center;
    writing-mode: unset;
  }
  div {
    width: 90px;
    height: 160px;
    position: relative;
    overflow: hidden;
    @media (max-width: $step2Respo) {
      width: 70px;
      height: 140px;
    }
    img {
      position: absolute;
      top: -100%;
      width: 90px;
      height: 160px;
      filter: $filterBlack;
      animation: arrowDown 2s infinite;
      animation-delay: 7s;
      @media (max-width: $step2Respo) {
        width: 70px;
        height: 140px;
      }
    }
  }
}

@keyframes arrowDown {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}
