.landing-content {
  width: 100%;
  max-width: 1240px;
  margin: 0 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h1 {
    text-align: center;
    font-size: 200px;
    line-height: 100%;
    margin: 9% 0 -6.5% 0;
    transform: scaley(0.6);
    margin-top: 20%;
  }
}

.stroke-name {
  cursor: url("../../assets/img/cursor/Cursor-emptylogo-red.png") 17 17, none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 35px;
}

.stroke {
  width: 577px;
  height: 3px;
  background-color: #090a0a;
}

.landing-name {
  text-wrap: nowrap;
  font-family: "genos", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.2px;
  margin-bottom: 5px;
}

.scroll-mail {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: -webkit-fill-available;
  p {
    cursor: url("../../assets/img/cursor/Cursor-emptylogo-red.png") 17 17, auto;
    writing-mode: vertical-rl;
  }
}

.scroll-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: -20px;
  gap: 10px;
  p {
    cursor: url("../../assets/img/cursor/Cursor-logo-red.png") 17 17, auto;
    text-align: center;
    writing-mode: unset;
  }
  div {
    width: 90px;
    height: 160px;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      top: -100%;
      width: 90px;
      height: 160px;
      filter: invert(2%) sepia(4%) saturate(1127%) hue-rotate(131deg)
        brightness(97%) contrast(97%);
      animation: arrowDown 2s infinite;
      animation-delay: 7s;
    }
  }
}

@keyframes arrowDown {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}