<div class="background">
  <div class="landing-content">
    <div class="helper">
      <h1>This is a<br>Portfolio</h1>
      <div class="stroke-name">
        <div class="stroke"></div>
        <div class="landing-name">Sylvia Zartmann</div>
      </div>
    </div>

    <div class="scroll-mail">
      <p style="rotate: 180deg"></p>
      <div class="scroll-arrow">
        <div>
          <img src="assets/img/arrow_down/Frame 57.svg" alt="">
        </div>
        <p>Scroll<br>Down</p>
      </div>
    </div>
  </div>
</div>
