<div class="landing-background">
  <div class="landing-content">
  <div>
    <h1>Frontend<br>Developer</h1>
    <div class="stroke-name">
      <div class="stroke"></div>
      <div class="spec-text-color landing-name">Sylvia Zartmann</div>
    </div>
  </div>

  <div class="scroll-mail">
    <p style="rotate: 180deg">zartmannsylvia@gmail.com</p>
    <div class="scroll-arrow">
      <img src="../../assets/img/arrow_down/Frame 57.svg" alt="">
      <p>Scroll<br>Down</p>
    </div>
  </div>
</div>
</div>
