<div class="projects-background">
  <div class="projects-content">
  <h2>Projects</h2>
  <!-- <h4>Angular | TypeScript | HTML | SCSS</h4>
  <p>Dieses Portfolio ist ein Beispiel meiner Arbeit.</p>
    <p>Die nachfolgenden Projekte dürfen gern getestet werden.</p> -->
    <p>Es werden nachfolgend Projekte eingestellt und ergänzt.<br>
    Bisweilen lohnt sich ein Besuch auf meinem GitHub Profil.</p>
    <a target="_blank" href="https://github.com/SylviaZartmann/">
      <div class="button">Github</div>
    </a>
  <!-- <app-sample></app-sample> -->
</div>
</div>
