<div class="contact-content">
  <div class="contact-form">
    <h2>Say Hi!</h2>
    <div class="contact-inputs">
      <h4>Sie wollen Kontakt aufnehmen?</h4>
      <p>Sagen Sie "Hallo" und lassen Sie uns in Kontakt treten.</p>
      
      <form action="">
      <input placeholder="Ihr Name" type="text">
      <input placeholder="Ihre e-Mail Adresse">
      <textarea placeholder="Ihre Nachricht" name="" id="" cols="20" rows="5"></textarea>
        <button class="button">Nachricht senden</button>
    </form>
    </div>
    
  </div>

</div>