.contact-background {
  width: 100vw;
  background-color: #090a0a;
  margin-bottom: -2px;
  clip-path: polygon(
    0 100%,
    0 0,
    100% 20%,
    100% 100%
  ); // (unten links), (oben links), (oben rechts), (unten rechts)
  display: flex;
  justify-content: center;
}

.contact-content {
  width: 1240px;
  padding-bottom: 50px;
  border: 2px solid #090a0a;
  margin-bottom: -5px;
}

.contact-form {
  background-color: #090a0a;
  h2 {
    padding-top: 180px;
    background-color: #090a0a;
    color: #f4f4f4;
  }
}

.contact-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  p {
    background-color: #090a0a;
    color: #f4f4f4;

  }
}

form {
  width: 620px;
  display: grid;
  gap: 10px;
  margin: 50px 0;
  &:focus-within {
    p {
      color: transparent !important;
      background-color: transparent !important;
    }
  }
  div {
    display: flex; 
    flex-direction: column-reverse;
    width: 100%;
  }

  input,
  textarea {
    padding: 15px 25px;
    margin: 2px 0;
    background-color: #090a0a;
    color: #f4f4f4;
    border: none;
    border: 2px solid #090a0a;
    border-bottom: 2px solid #f4f4f4;
    font-family: "genos", sans-serif;
    font-size: 21px;
    background-image: url("../../assets/img/input_sign.svg");
    background-repeat: no-repeat;
    background-position: top right;
    &::placeholder {
      color: #f4f4f4;
      font-family: "genos", sans-serif;
      font-size: 21px;
      font-weight: 400;
    }
    &:hover {
      cursor: url("../../assets/img/cursor/Cursor-default-red.png") 17 17, text;
      border: 2px solid #f4f4f4;
    }
    &:focus {
      outline: 2px solid #f4f4f4;
      &::placeholder {
        color: #090a0a;
      }
    }
  }
  input + p, textarea + p {
    margin-bottom: -12px;
    transition: color 0.2s, background-color 0.2s;
  }

  input:focus-within + p, textarea:focus-within + p {
    transition: color 0.4s, background-color 0.4s;
    color: #f4f4f4 !important;
    background-color: #090a0a !important;
  }
  p {
      color: transparent !important;
      background-color: transparent !important;
      text-align: start;
      display: flex;
      width: max-content;
      margin-left: 15px;
      padding: 0 10px;
      z-index: 2;
      font-size: 21px;
      font-weight: 400;
    }
  input {
    height: 20px;
    width: -webkit-fill-available;
  }
  textarea {
    resize: none;
  }
  button {
    justify-self: center;
    width: max-content;
    margin-top: 35px;
  }
  label {
    color: #9a031e;
    font-weight: 600;
    margin-left: 25px;
    cursor: url("../../assets/img/cursor/Cursor-emptylogo-red.png") 17 17, crosshair;
  }
}
