<div class="contact-content">
  <div class="contact-form">
    <h2>Say Hi!</h2>
    <div class="contact-inputs">
      <h4>Sie wollen Kontakt aufnehmen?</h4>
      <p>Sagen Sie "Hallo" und lassen Sie uns in Kontakt treten.</p>

      <form action="">
        
        <p>Ihr Name</p>
        <input type="text" placeholder="Ihr Name" type="text">
        <img src="../../assets/img/input_sign.svg" alt="">
        <label for="">Eingabe benötigt!</label>

        <p>Ihre e-Mail Adresse</p>
        <input type="email" placeholder="Ihre e-Mail Adresse">
        <img src="../../assets/img/input_sign.svg" alt="">
        <label for="">Eingabe benötigt!</label>

        <p>Ihre Nachricht</p>
        <textarea placeholder="Ihre Nachricht" name="" id="" cols="20" rows="5"></textarea>
        <img src="../../assets/img/input_sign.svg" alt="">
        <label for="">Eingabe benötigt!</label>

      </form>
      <button class="button">Nachricht senden</button>
    </div>

  </div>

</div>