@import "/src/variables.scss";

.contact-background {
  width: 100vw;
  background-color: $black;
  margin-bottom: -2px;
  clip-path: polygon(
    0 100%,
    0 0,
    100% 50%,
    100% 100%
  ); // (unten links), (oben links), (oben rechts), (unten rechts)
  display: flex;
  justify-content: center;
  @media (max-width: $step3Respo) {
    clip-path: polygon(
    0 100%,
    0 0,
    100% 30%,
    100% 100%
  );
  }
  @media (max-width: $step4Respo) {
  }
}

.contact-content {
  border: 2px solid $black;
  margin-top: -50px;
  width: $screenWidth1;
  @media (max-width: $step1Respo) {
    width: $screenWidth2;
  }
  @media (max-width: $step2Respo) {
    width: $screenWidth3;
  }
  @media (max-width: $step3Respo) {
    width: $screenWidth4;
  }
  @media (max-width: $step4Respo) {
    width: $screenWidth5;
  }
}

.contact-form {
  background-color: $black;
  h2 {
    padding-top: 180px;
    background-color: $black;
    color: $white;

  @media (max-width: $step2Respo) {
    text-align: start;
  }
  }
}

.contact-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  p {
    background-color: $black;
    color: $white;
    @media (max-width: $step3Respo) {
      text-align: center;
    }
    @media (max-width: $step4Respo) {
      text-align: center;
    }
    a {
      color: $red;
      text-decoration: none;
      cursor: $cursorPointLeftRed;
    }
  }
  h4 {
    @media (max-width: $step3Respo) {
      text-align: center;
    }
    @media (max-width: $step4Respo) {
      font-size: 26px;
      text-align: center;
    }
  }
}

form {
  width: 620px;
  display: grid;
  gap: 20px;
  margin: 50px 0;
  @media (max-width: $step1Respo) {
    width: 60%;
  }
  @media (max-width: $step2Respo) {
    width: $screenWidth3;
  }
  @media (max-width: $step3Respo) {
    width: $screenWidth4;
  }
  @media (max-width: $step4Respo) {
    width: $screenWidth5;
  }
  &:focus-within {
    p {
      color: transparent !important;
      background-color: transparent !important;
    }
  }
  div {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .textarea {
    position: relative;
    span {
      position: absolute;
      top: 16%;
      right: 1%;
    }
  }
  .input {
    position: relative;
    span {
      position: absolute;
      top: 40%;
      right: 1%;
    }
  }

  input,
  textarea {
    padding: 15px 25px;
    margin: 2px 0;
    background-color: $black;
    color: $white;
    border: none;
    border: 2px solid $black;
    border-bottom: 2px solid $white;
    font-family: $genos;
    font-size: 21px;
    &::placeholder {
      color: $white;
      font-family: $genos;
      font-size: 21px;
      font-weight: 400;
    }
    &:hover {
      cursor: $cursorPointLeftRed;
      border: 2px solid $white;
    }
    &:focus {
      outline: 2px solid $white;
      &::placeholder {
        color: $black;
      }
    }
  }
  input + p,
  textarea + p {
    margin-bottom: -12px;
    transition: color 0.2s, background-color 0.2s;
  }

  input:focus-within + p,
  textarea:focus-within + p {
    transition: color 0.4s, background-color 0.4s;
    color: $white !important;
    background-color: $black !important;
  }
  p {
    color: transparent !important;
    background-color: transparent !important;
    text-align: start;
    display: flex;
    width: max-content;
    margin-left: 15px;
    padding: 0 10px;
    z-index: 2;
    font-size: 21px;
    font-weight: 400;
  }

  input {
    height: 20px;
    width: -webkit-fill-available;
  }
  textarea {
    resize: none;
  }
  button {
    justify-self: center;
    width: max-content;
    margin-top: 35px;
    margin-bottom: 35px;
    &:disabled {
      &:hover {
        padding: 10px 60px;
        font-size: 21px;
        letter-spacing: 0.7px;
        line-height: 100%;
        font-weight: 500;
        cursor: $cursorLogoRed;
      }
    }
  }
  span {
    color: $red;
    font-weight: 600;
    margin-left: 25px;
    margin-top: -10px;
    cursor: $cursorCircleRed;
  }
  button +span {
    color: $white;
    background-color: $black;
    font-weight: 600;
    font-size: 30px;
    margin-top: -107px;
    text-align: center;
    margin-left: 0;
  }
}
