@import "/src/variables.scss";

.skill-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 100%;
  max-width: 1240px;
  margin: 0 100px;
  display: grid;
  align-items: center;
  position: relative;
  h2 {
    justify-self: center;
    margin-bottom: -63px;
    padding: 0 13px;
    background-color: $white;
    z-index: 1;
  }
}

.design {
  width: -webkit-fill-available;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;

  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    cursor: $cursorCircleRed;
    img {
      height: 75px;
      transition: transform 2s;

      &:hover {
        filter: $fitlerRed;
        transform: rotate(360deg);
      }
    }

    &:nth-child(even) {
      img {
        &:hover {
          transform: rotate(-360deg);
        }
      }
    }

    p {
      text-align: center;
    }
  }
}

.skill-border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid $black;
  gap: 70px;
  padding: 130px 50px 100px 50px;
  width: min-content;
  width: -webkit-fill-available;
}
.arrow_right_anim {
  transition: transform 0.5s ease;
  display: flex;
  justify-content: flex-start;
  width: 260px;
  height: 260px;
  position: relative;
  &:hover {
    transition: transform 0.5s ease;
    transform: translate(80px, 80px);
  }
  img {
    position: absolute;
    transform: scaleX(-1);
    width: 180px;
    height: 180px;
  }
}
