<div class="background">
  <div class="wrapper">
  <h2>My Skills</h2>
    <div class="skill-border">
      <div class="design">
        <div class="skills">
          <img src="assets/img/skills/Javascript.svg" alt="">
          <p>JavaScript</p>
        </div>
        <div class="skills">
          <img src="assets/img/skills/typescript.svg" alt="">
          <p>TypeScript</p>
        </div>
        <div class="skills">
          <img src="assets/img/skills/node.svg" alt="">
          <p>node.js</p>
        </div>
        <div class="skills">
          <img src="assets/img/skills/Angular.svg" alt="">
          <p>Angular</p>
        </div>
        <div class="skills">
          <img src="assets/img/skills/html.svg" alt="">
          <p>HTML</p>
        </div>
        <div class="skills">
          <img src="assets/img/skills/css.svg" alt="">
          <p>CSS</p>
        </div>
        <div class="skills">
          <img src="assets/img/skills/sass.svg" alt="">
          <p>SCSS<br>SASS</p>
        </div>
        <div class="skills">
          <img src="assets/img/skills/bootstrap.svg" alt="">
          <p>Bootstrap</p>
        </div>
        <div class="skills">
          <img src="assets/img/skills/MDL.svg" alt="">
          <p>Material<br>Design</p>
        </div>
        <div class="skills">
          <img src="assets/img/skills/Firebase.svg" alt="">
          <p>Firebase</p>
        </div>
        <div class="skills">
          <img src="assets/img/skills/scrum.svg" alt="">
          <p>Scrum</p>
        </div>
        <div class="skills">
          <img src="assets/img/skills/git.svg" alt="">
          <p>Git</p>
        </div>
        <div class="skills">
          <img src="assets/img/skills/Api.svg" alt="">
          <p>API</p>
        </div>
      </div>
    </div>
    <div #elementRef1 id="elementRef1" class="arrow_right_anim">
      <img [@arrow]="showSomething ? 'start' : 'end'" src="assets/img/arrow_left/Group 3.svg" alt="">
    </div>
    
</div>        
</div>
