@import "/src/variables.scss";

.skill-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 100%;
  margin: 0 100px;
  display: grid;
  align-items: center;
  position: relative;
  max-width: $screenWidth1;
  @media (max-width: $step1Respo) {
    max-width: $screenWidth2;
  }
  @media (max-width: $step2Respo) {
    max-width: $screenWidth3;
    margin-top: 50px;
  }
  @media (max-width: $step3Respo) {
    max-width: $screenWidth4;
    margin-top: 100px;
  }
  @media (max-width: $step4Respo) {
    max-width: $screenWidth5;
    margin-top: 80px;
  }
  h2 {
    justify-self: center;
    margin-bottom: -63px;
    padding: 0 13px;
    background-color: $white;
    z-index: 1;
    @media (max-width: $step1Respo) {
      margin-bottom: -50px;
    }
    @media (max-width: $step2Respo) {
      margin-bottom: -35px;
    }
    @media (max-width: $step3Respo) {
      margin-bottom: -30px;
    }
  }
}

.design {
  width: -webkit-fill-available;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  
  @media (max-width: $step2Respo) {
    gap: 30px;
  }
  @media (max-width: $step3Respo) {
    gap: 20px;
  }

  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    cursor: $cursorCircleRed;
    
    @media (max-width: $step2Respo) {
      gap: 10px;
    }
    img {
      height: 75px;
      @media (max-width: $step1Respo) {
        height: 65px;
      }
      @media (max-width: $step3Respo) {
        height: 60px;
      }
      @media (max-width: $step4Respo) {
        height: 55px;
      }
      &:hover {
        animation: skillhover 5s infinite;
      }
    }

    p {
      text-align: center;
      @media (max-width: $step2Respo) {
        font-size: 18px;
      }
      @media (max-width: $step4Respo) {
        font-size: 14px;
      }
    }
  }
}

.skill-border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid $black;
  padding: 130px 150px 100px 150px;
  width: min-content;
  width: -webkit-fill-available;
  @media (max-width: $step1Respo) {
    padding: 110px 90px 100px 70px;
  }
  @media (max-width: $step2Respo) {
    padding: 90px 50px 70px 50px;
  }
  @media (max-width: $step3Respo) {
    padding: 60px 30px 40px 30px;
  }
  @media (max-width: $step4Respo) {
    padding: 50px 30px 30px 30px;
  }
}
.arrow_right_anim {
  display: flex;
  justify-content: flex-start;
  width: 260px;
  height: 260px;
  position: relative;
  img {
    position: absolute;
    transform: scaleX(-1);
    width: 180px;
    height: 180px;
  }
}


@keyframes skillhover {
  0% {
    filter: $fitlerRed;
  }
    
  20% {
    filter: $fitlerRed;
    transform: rotate(360deg);
  }

  40% {
    filter: $fitlerRed;
    transform: rotate(360deg);
    transform: scaleX(-1);
  }

  60% {
    filter: $fitlerRed;
    transform: rotate(360deg);
    transform: scaleX(1);
  }
  80% {
    filter: $fitlerRed;
    transform: rotate(360deg);
    transform: scaleY(-1);
  }

  100% {
  filter: $fitlerRed;
  transform: rotate(0);
  transform: scaleY(1);
  }
}