<div class="skill-content">
  <div class="wrapper">

  <h2>My Skills</h2>
    <div class="skill-border">
      <div class="design">
        <div class="skills">
          <img src="../../assets/img/skills/Javascript.svg" alt="" width="75px" height="75px">
          <p>JavaScript</p>
        </div>
        <div class="skills">
          <img src="../../assets/img/skills/typescript.svg" alt="" width="75px" height="75px">
          <p>TypeScript</p>
        </div>
        <div class="skills">
          <img src="../../assets/img/skills/node.svg" alt="" width="75px" height="75px">
          <p>node.js</p>
        </div>
        <div class="skills">
          <img src="../../assets/img/skills/Angular.svg" alt="">
          <p>Angular</p>
        </div>
        <div class="skills">
          <img src="../../assets/img/skills/html.svg" alt="">
          <p>HTML</p>
        </div>
        <div class="skills">
          <img src="../../assets/img/skills/css.svg" alt="">
          <p>CSS</p>
        </div>
        <div class="skills">
          <img src="../../assets/img/skills/sass.svg" alt="" width="75px" height="75px">
          <p>SCSS<br>SASS</p>
        </div>
      </div>
      <div class="design">
        <div class="skills">
          <img src="../../assets/img/skills/bootstrap.svg" alt="" width="75px" height="75px">
          <p>Bootstrap</p>
        </div>
        <div class="skills">
          <img src="../../assets/img/skills/MDL.svg" alt="">
          <p>Material<br>Design</p>
        </div>
        <div class="skills">
          <img src="../../assets/img/skills/Firebase.svg" alt="">
          <p>Firebase</p>
        </div>
        <div class="skills">
          <img src="../../assets/img/skills/scrum.svg" alt="" width="75px" height="75px">
          <p>Scrum</p>
        </div>
        <div class="skills">
          <img src="../../assets/img/skills/git.svg" alt="" width="75px" height="75px">
          <p>Git</p>
        </div>
        <div class="skills">
          <img src="../../assets/img/skills/Api.svg" alt="" width="75px" height="75px">
          <p>API</p>
        </div>
      </div>
    </div>
    <img class="arrow_right" src="../../assets/img/arrow_left/Property 1=Variant3.svg" alt="">
</div>        
</div>
