.skill-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  max-width: 1240px;
  position: relative;
}

.wrapper {
  display: grid;
  align-items: center;
  h2 {
    justify-self: center;
    margin-bottom: -63px;
    padding: 0 13px;
    background-color: #f4f4f4;
    z-index: 1;
  }
}

.design {
  width: -webkit-fill-available;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;

  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;

    img {
      height: 90px;
      transition: transform 2s;

      &:hover {
        filter: invert(8%) sepia(75%) saturate(6406%) hue-rotate(344deg)
          brightness(98%) contrast(102%);
        transform: rotate(360deg);
      }
    }

    &:nth-child(even) {
      img {
        &:hover {
          transform: rotate(-360deg);
        }
      }
    }

    p {
      text-align: center;
    }
  }
}

.skill-border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #090a0a;
  gap: 60px;
  padding: 120px;
  width: min-content;
  width: -webkit-fill-available;
}
.arrow_right_anim {
  transition: transform 0.5s ease;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  width: 260px;
  height: 260px;
  position: relative;
  &:hover {
    transition: transform 0.5s ease;
    transform: translate(80px, 80px);
  }
  img {
    position: absolute;
    transform: scaleX(-1);
    width: 180px;
    height: 180px;
  }
}
