
<div class="background">
  <div class="intro-content">
  <h2>About me</h2>
  <div class="aboutme-content-img">
    <div class="aboutme-content">
      <p>Wahrscheinlich macht sich ein viel versprechender Text besser, aber hier erstmal mein Lebenslauf:</p>
      <br>
      <p>&#9688; ab 08/24 * Data Scientist in Leipzig</p>
      <p>&#9688; seit 01/24 * autodidaktische Vertiefung Data Science</p>
      <p>&#9688; 01/23-02/24 * Weiterbildung Fullstack Entwicklung</p>
      <p>&#9688; 07/20-06/23 * Architekt * Dreiplus Planungsgruppe</p>
      <p>&#9688; 01/20-07/20 * Architekt * GBP Architekten</p>
      <p>&#9688; 05/18-12/19 * Bauleiter * Interhomes AG</p>
      <p>&#9688; 08/19 * Sicherheits- & Gesundheitsschutzkoordinator</p>
      <p>&#9688; 01/17 * Zertifizierung Projektmanager</p>
      <p>&#9688; 10/12-03/18 * Studium Architektur * BTU Cottbus</p>
      <p>&#9688; 08/99-06/12 * Schulbesuche * Abitur</p>
        <!-- Ich verstehe mich darauf,
        komplexe Strukturen zu erkennen und Probleme geordnet und kontrolliert zu beheben.
        Mit meinem Wissen bin ich in der Lage, oder habe gar das Privileg,
        meinen Beitrag zum Fortschritt zu leisten. -->

    </div>
    <div class="display">
      <div #elementRef1 id="elementRef1"  class="display-img">
        <img [@grayscale]="showSomething1 ? 'start' : 'end'" src="assets/img/placeholder_me.jpg" alt="">
        <div [@border]="showSomething1 ? 'start' : 'end'" class="img-border"></div>
      </div>

      <div #elementRef2 id="elementRef2"  class="arrow_left_anim">
        <img [@arrow]="showSomething2 ? 'start' : 'end'" src="assets/img/arrow_left/Group 3.svg" alt="">
      </div>
    </div>
  </div>
</div>
</div>
