.intro-content {
  width: 100vw;
  height: fit-content;
  max-width: 1240px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 100px;
  h2 {
    margin: 0 0 20px 0;
  }
}

.aboutme-content-img {
  display: flex;
  align-items: flex-start;
  gap: 125px;
}

.aboutme-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  gap: 70px;
  
}

.display {
  display: grid;
  gap: 20px;
  .display-img img {
    filter: grayscale(100%);
    
  }
  div {
    justify-self: flex-end;
    position: relative;
  }
  .img-border {
    position: absolute;
    transition: border 0.1s;
    top: 3%;
    left: 3%;
    height: 446px;
    width: 446px;
    border: 4px solid transparent;
    &:hover {
      transition: border 0.2s;
      border: 4px solid #090a0a;
    }
  }
  .arrow_left_anim {
    transition: transform 0.5s ease;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    width: 260px;
    height: 260px;
    position: relative;
    &:hover {
      transition: transform 0.5s ease;
      transform: translate(-80px, 80px);
    }
    img {
      position: absolute;
      width: 180px;
      height: 180px;
    }
  }
}
