.intro-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h2 {
    margin-bottom: 20px;
    padding-left: 100px;
  }
  
}

.aboutme-content-img {
  display: flex;
  align-items: flex-start;
  gap: 125px;
  padding: 0 100px;
  img {
    filter: grayscale(100%);
    &:hover {
      filter: grayscale(40%);

    }
  }
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.aboutme-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  gap: 70px;
  
}
