.intro-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h2 {
    color: #090a0a;
    font-size: 130px;
    line-height: 100%;
    margin: 0;
    margin-bottom: 20px;
    transform: scaleY(0.5);
    width: fit-content;
    padding-left: 100px;
    &:hover {
      color: #9a031e !important;
  }
  }
  
}

.aboutme-content-img {
  display: flex;
  align-items: flex-start;
  gap: 125px;
  padding: 0 100px;
  img {
    filter: grayscale(100%);
    &:hover {
      filter: grayscale(40%);

    }
  }
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutme-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  gap: 70px;
  .button {
    display: inline-flex;
    padding: 10px 60px;
    justify-content: center;
    align-items: center;
    border: 4px solid #090a0a;
    background-color: #f4f4f4;
    color: #090a0a;
    font-family: "genos", sans-serif;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 0.7px;
    line-height: 100%;
  }
}
