.darkmode-background-color {
  color: #090a0a; // normal Text color + background darkmode
}

.default-background-color {
  color: #F4F4F4; //bright hintergrund und dark text
}

.spec-text-color {
  color: #9A031E; // fav color special text
}

.vector-color {
  color: #7a7d7d; // vector color
}

.color8 {
  color: #E7E5DF; // maybe background color brightmode
}

.thingsINeddLAter {
  writing-mode: vertical-rl;
}