<div class="darkmode color1">
  <img class="image" src="./../assets/img/Logo-03.png" alt="">
  <div class="text-color3"> This is special text color</div>
  <div class="text-color2"> This is normal text color</div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
</div>

<div class="brightmode color6">
  <img class="image" src="./../assets/img/Logo-03.png" alt="">
  <div class="text-color3"> This is special text color</div>
  <div class="text-color1"> This is normal text color</div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
  <div class="vector color2"></div>
</div>