@import "/src/variables.scss";

.sample-content {
  display: grid;
  gap: 50px;
  width: $screenWidth1;
  @media (max-width: $step1Respo) {
    width: $screenWidth2;
  }
  @media (max-width: $step2Respo) {
    width: $screenWidth3;
  }
  @media (max-width: $step3Respo) {
    width: $screenWidth4;
  }
  @media (max-width: $step4Respo) {
    width: $screenWidth5;
  }

  .samplepic {
    position: relative;
    transition: all 0.7s;
    @media (max-width: $step2Respo) {
      height: 750px;
    }
    @media (max-width: $step3Respo) {
      height: 650px;
    }
    @media (max-width: $step4Respo) {
      height: 550px;
    }
    &:hover {
      cursor: $cursorLogoRed;
      img {
        transition: all 0.7s;
        filter: grayscale(0);
      }
      .samplepic-border {
        transition: all 0.7s;
        border: 4px solid $black;
        img {
          display: block;
          animation: getBigger 0.7s;
          animation-fill-mode: forwards;
        }
      }

      .sampletext {
        animation: changePosition 1s ease-out;
        animation-fill-mode: forwards;
      }
    }

    .samplepic-border {
      position: absolute;
      top: 3%;
      left: 1%;
      width: 620px;
      height: 390px;
      border: 4px solid transparent;
      @media (max-width: $step1Respo) {
        width: 516px;
        height: 346px;
        left: 1.3%;
      }
      @media (max-width: $step2Respo) {
        width: 596px;
        height: 386px;
        top: 1.5%;
        left: 2.5%;
      }
      @media (max-width: $step3Respo) {
        width: 396px;
        height: 246px;
      }
      @media (max-width: $step4Respo) {
        width: 296px;
        height: 186px;
      }
      a {
        cursor: $cursorPointLeftRed;
      }

      img {
        z-index: 2;
        position: absolute;
        display: none;
        transform: scaleX(-1);
        filter: grayscale(100%);
        top: 44.5%;
        right: -4.5%;
        width: 50px;
        height: 50px;
        &:hover {
          filter: grayscale(0);
        }
      }
    }

    img {
      width: 620px;
      height: 390px;
      filter: grayscale(100%);
      @media (max-width: $step1Respo) {
        width: 520px;
        height: 350px;
      }
      @media (max-width: $step2Respo) {
        width: 600px;
        height: 390px;
      }
      @media (max-width: $step3Respo) {
        width: 400px;
        height: 250px;
      }
      @media (max-width: $step4Respo) {
        width: 300px;
        height: 190px;
      }
    }

    .samplecounter {
      right: 0;
      @media (max-width: $step2Respo) {
        right: unset;
        top: -5%;
      }
      @media (max-width: $step3Respo) {
        top: -6%;
      }
      @media (max-width: $step4Respo) {
        top: -7%;
      }
    }
  }
  .samplepic-reverse {
    position: relative;
    transition: all 0.7s;
    display: flex; //changed
    justify-content: flex-end; //changed

    @media (max-width: $step2Respo) {
      height: 750px;
    }
    @media (max-width: $step3Respo) {
      height: 650px;
    }
    @media (max-width: $step4Respo) {
      height: 550px;
    }
    &:hover {
      cursor: $cursorLogoRed;
      img {
        transition: all 0.7s;
        filter: grayscale(0);
      }
      .samplepic-border {
        transition: all 0.7s;
        border: 4px solid $black;

        img {
          display: block;
          animation: getBigger-reverse 0.7s;
          animation-fill-mode: forwards;
                  }
      }

      .sampletext {
        animation: changePosition 1s reverse ease-in; //changed
        animation-fill-mode: forwards;
      }
    }

    .samplepic-border {
      position: absolute;
      top: 3%;
      right: 1%; //changed
      width: 612px;
      height: 382px;
      border: 4px solid transparent;
      @media (max-width: $step1Respo) {
        width: 516px;
        height: 346px;
        right: 1.3%;
      }
      @media (max-width: $step2Respo) {
        width: 596px;
        height: 386px;
        top: 1.5%;
        right: 2.5%;
      }
      @media (max-width: $step3Respo) {
        width: 396px;
        height: 246px;
      }
      @media (max-width: $step4Respo) {
        width: 296px;
        height: 186px;
      }
      a {
        cursor: $cursorPointRightRed;
      }

      img {
        z-index: 2;
        position: absolute;
        display: none;
        top: 44.5%;
        left: -5%; //changed
        width: 50px;
        height: 50px;
        filter: grayscale(100%);
        &:hover {
          filter: grayscale(0);
        }
      }
    }

    img {
      width: 620px;
      height: 390px;
      filter: grayscale(100%);
      @media (max-width: $step1Respo) {
        width: 520px;
        height: 350px;
      }
      @media (max-width: $step2Respo) {
        width: 600px;
        height: 390px;
      }
      @media (max-width: $step3Respo) {
        width: 400px;
        height: 250px;
      }
      @media (max-width: $step4Respo) {
        width: 300px;
        height: 190px;
      }
    }
    .samplecounter {
      left: 0; //changed
      @media (max-width: $step2Respo) {
        top: -5%;
      }
      @media (max-width: $step3Respo) {
        top: -6%;
      }
      @media (max-width: $step4Respo) {
        top: -7%;
      }
    }
  }

  .sampletext {
    z-index: 0;
    width: 475px;
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width: $step1Respo) {
      width: 375px;
      top: 15%;
    }
    @media (max-width: $step2Respo) {
      width: $screenWidth3;
    }
    @media (max-width: $step3Respo) {
      width: $screenWidth4;
    }
    @media (max-width: $step4Respo) {
      width: $screenWidth5;
    }
  }

  h3 {
    font-size: 60px;
  }
}

.button {
  width: fit-content;
}

.samplecounter {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: flex-end;
  font-family: $tektur;
  font-size: 30px;
  font-weight: 600;
  transform: scaleY(0.5);
}

@keyframes changePosition {
  from {
    left: 0;
    right: 60%;
  }
  to {
    left: 60%;
    right: 0;
  }
}

@keyframes getBigger {
  from {
    width: 50px;
    height: 50px;
  }
  to {
    width: 100px;
    height: 100px;
    right: -8.5%;
    top: 10%;
    rotate: 180deg;
  }
}
@keyframes getBigger-reverse {
  from {
    width: 50px;
    height: 50px;
  }
  to {
    width: 100px;
    height: 100px;
    right: -8.5%;
    top: 10%;
    rotate: 180deg;
  }
}