.sample-content {
  width: 1240px;
  display: grid;
  gap: 50px;

  .samplepic {
    position: relative;
    transition: all 0.7s;
    &:hover {
      cursor: url("../../assets/img/cursor/Cursor-logo-red.png") 17 17, crosshair;
      img {
        transition: all 0.7s;
        filter: grayscale(0);
      }
      .samplepic-border {
        transition: all 0.7s;
        border: 4px solid #090a0a;
        img {
          display: block;
          animation: getBigger 0.7s;
          animation-fill-mode: forwards;
        }
      }

      .sampletext {
        animation: changePosition 1s ease-out;
        animation-fill-mode: forwards;
      }
    }

    .samplepic-border {
      position: absolute;
      top: 3%;
      left: 1%;
      width: 620px;
      height: 390px;
      border: 4px solid transparent;
      a {
        cursor: url("../../assets/img/cursor/Cursor-default-red.png") 17 17, crosshair;
      }

      img {
        z-index: 2;
        position: absolute;
        display: none;
        transform: scaleX(-1);
        filter: grayscale(100%);
        top: 44.5%;
        right: -4.5%;
        width: 50px;
        height: 50px;
        &:hover {
          filter: grayscale(0);

        }
      }
    }

    img {
      width: 620px;
      height: 390px;
      filter: grayscale(100%);
    }

    .samplecounter {
      right: 0;
    }
  }
  .samplepic-reverse {
    position: relative;
    transition: all 0.7s;
    display: flex; //changed
    justify-content: flex-end; //changed
    &:hover {
      cursor: url("../../assets/img/cursor/Cursor-logo-red.png") 17 17, crosshair;
      img {
        transition: all 0.7s;
        filter: grayscale(0);
      }
      .samplepic-border {
        transition: all 0.7s;
        border: 4px solid #090a0a;

        img {
          display: block;
          animation: getBigger-reverse 0.7s; //changed
          animation-fill-mode: forwards;
        }
      }

      .sampletext {
        animation: changePosition 1s reverse ease-in; //changed
        animation-fill-mode: forwards;
      }
    }

    .samplepic-border {
      position: absolute;
      top: 3%;
      right: 1%; //changed
      width: 620px;
      height: 390px;
      border: 4px solid transparent;
      a {
        cursor: url("../../assets/img/cursor/Cursor-pointer-red.png") 17 17, crosshair;
      }

      img {
        z-index: 2;
        position: absolute;
        display: none;
        top: 44.5%;
        left: -5%; //changed
        width: 50px;
        height: 50px;
        filter: grayscale(100%);
        &:hover {
          filter: grayscale(0);
        }
      }
    }

    img {
      width: 620px;
      height: 390px;
      filter: grayscale(100%);
    }
    .samplecounter {
      left: 0; //changed
    }
  }

  .sampletext {
    z-index: 0;
    width: 475px;
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  h3 {
    font-size: 60px;
  }
}


.button {
  width: fit-content;
}

.samplecounter {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: flex-end;
  font-family: "tektur", sans-serif;
  font-size: 30px;
  font-weight: 600;
  transform: scaleY(0.5);
}

@keyframes changePosition {
  from {
    left: 0;
    right: 60%;
  }
  to {
    left: 60%;
    right: 0;
  }
}

@keyframes getBigger {
  from {
    width: 50px;
    height: 50px;
  }
  to {
    width: 100px;
    height: 100px;
    right: -8.5%;
    top: 10%;
    rotate: 180deg;
  }
}

@keyframes getBigger-reverse {
  from {
    width: 50px;
    height: 50px;
  }
  to {
    width: 100px;
    height: 100px;
    left: -8.5%;
    top: 10%;
    rotate: -180deg;
  }
}