<div class="sample-content">
  <div class="samplepic">
    <div class="samplepic-border">
      <img src="../../assets/img/sample_arrow.svg" alt="">
    </div>
    <img src="../../assets/img/codingsample.jpg" alt="">
    <div class="sampletext">
      <h3>Join</h3>
      <h4> JavaScript | HTML | CSS</h4>
      <p>Ein Aufgabenbearbeitungssystem inspiriert durch das "Kanban System".
        Erstelle und organisiere Aufgaben mit Drag&Drop Funktion, füge Kontakte und
        Kategorien zu einer Aufgabe hinzu.
      </p>
      <a target="_blank" href="https://github.com/SylviaZartmann/Join-Single">
        <div class="button">Github</div>
      </a>
    </div>
    <div class="samplecounter">01 | 03</div>
  </div>
</div>