<div class="nav-background">
  <div class="nav-content">
    <div class="border-box">
      <div class="borderleft"></div>
      <div class="borderbottom"></div>
      <h2 (click)="triggerAction()" routerLink="../" fragment="introduction">about me</h2>
    </div>
    <div class="border-box">
      <div class="borderleft"></div>
      <div class="borderbottom"></div>
      <h2 (click)="triggerAction()" routerLink="../" fragment="skills">my skills</h2>
    </div>
    <div class="border-box">
      <div class="borderleft"></div>
      <div class="borderbottom"></div>
      <h2 (click)="triggerAction()" routerLink="../" fragment="projects">portfolio</h2>
    </div>
    
  </div>
  <div class="wrap">
    <div class="right">
      <h2>Say Hi!</h2>
      <p>zartmannsylvia@gmail.com</p>
    </div>
    <div class="left">
      <a target=”_blank” href="https://github.com/SylviaZartmann"><img src="assets/img/github-fill.png" alt=""></a>
      <a href="mailto: zartmannsylvia@gmail.com"><img src="assets/img/mail.png" alt=""></a>
      <a target=”_blank” href="https://linkedin.com/in/sylvia-zartmann-216a19194"><img
          src="assets/img/linkedin-box-fill.png" alt=""></a>
      <a target=”_blank” href="https://www.xing.com/profile/Sylvia_Zartmann/cv"><img src="assets/img/xing-fill.png"
          alt=""></a>
    </div>
  </div>
  <div class="dia-black"></div>
</div>