@import "/src/variables.scss";

.nav-background {
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .nav-content {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 50px;
    width: 100%;
    max-width: $screenWidth1;
    @media (max-width: $step1Respo) {
      max-width: $screenWidth2;
    }
    @media (max-width: $step2Respo) {
      max-width: $screenWidth3;
    }
    @media (max-width: $step3Respo) {
      max-width: $screenWidth4;
    }
    @media (max-width: $step4Respo) {
      max-width: $screenWidth5;
    }
    .border-box {
      position: relative;
      display: flex;
      justify-content: center;
      .borderleft {
        position: absolute;
        top: 70%;
        left: 0;
        bottom: 0;
        border-left: 4px solid $black;
      }
      .borderbottom {
        position: absolute;
        width: 7%;
        left: 0;
        top: 100%;
        bottom: 0;
        border-bottom: 4px solid $black;
      }
      &:hover {
        .borderleft {
          animation: borderdown 0.1s ease-in;
          animation-fill-mode: forwards;
        }
        .borderbottom {
          animation: borderright 0.5s;
          animation-fill-mode: forwards;
        }
      }
    }

     @keyframes borderdown {
      from {
        top: 70%;
      }
      to {
        top: 100%;
      }
     }

     @keyframes borderright {
      0% {
        width: 7%;
        left: 0;
      }
      50% {
        width: 100%;
        left: 0;
      }
      51% {
        width: 100%;
        right: 0;
        left: 0;
      }
      70% {
        width: 100%;
        right: 0;
        left: unset;
      }
      100% {
        width: 20%;
        right: 0;
        left: unset;
      }
     }

    h2 {
      text-align: center;
      height: fit-content;
      padding: 0 50px;
      @media (max-width: $step4Respo) {
        padding: 0 15px;
      }    
      &:hover {
        color: $black !important;
      }
    }
  }
  .wrap {
    width: $screenWidth1 ;
    justify-self: center;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 150px;
    z-index: 2;
    margin-bottom: 30px;
    @media (max-width: $step1Respo) {
      width: $screenWidth2;
    }
    @media (max-width: $step2Respo) {
      width: $screenWidth3;
    }
    @media (max-width: $step3Respo) {
      width: $screenWidth4;
    }
    @media (max-width: $step4Respo) {
      width: $screenWidth5;
    }    

    .left {
      display: flex;
      gap: 10px;
      img {
        height: 40px;
        filter: $filterWhite;
      }
      @media (max-width: $step4Respo) {
        margin-left: -105px;
      }  

    }
    .right {
            @media (max-width: $step3Respo) {
        align-self: flex-start;
      }
    }
    h2,
    p {
      color: $white;
      background-color: $black;
      text-align: start;
      @media (max-width: $step4Respo) {
        background-color: transparent;
      }  
    }
  }
}

.dia-black {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 250px;
  background-color: $black;
  clip-path: polygon(0 100%, 0 0, 100% 50%, 100% 100%);
  display: grid;
}

.left {
  a {
    &:hover {
      cursor: $cursorCircleRed;
    }
  }
}
