@font-face {
  font-family: 'genos';
  src: url("/assets/fonts/Genos-VariableFont_wght.ttf") format("truetype");
} // sieht im Fließtext schwierig aus

@font-face {
  font-family: 'tektur';
  src: url("/assets/fonts/Tektur-VariableFont_wdth,wght.ttf") format("truetype");
}

body {
  margin: 0;
  background-color: #f4f4f4;
  font-family: 'genos', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(circle at 3px 40px, #dbdbdb 3px, transparent 0);
  background-size: 100px 120px;
  background-position: center;
  cursor: url("/assets/img/cursor/Cursor-logo-red.png") 17 17, auto;
}

html {
  scroll-behavior: smooth;
}

  


h1, h2, h3 {
  color: #090a0a;
  margin: 0;
  font-family: 'tektur', sans-serif;
}
h1 {
  cursor: url("/assets/img/cursor/Cursor-emptylogo-red.png") 17 17, none;
}

h2 {
  font-size: 130px;
  line-height: 100%;
  transform: scaleY(0.5);
  width: fit-content;
  cursor: url("/assets/img/cursor/Cursor-emptylogo-red.png") 17 17, none;
  &:hover {
    color: #9a031e !important;
  }
}

h3 {
  color: #090a0a;
  font-size: 50px;
  line-height: 100%;
  transform: scaleY(0.5);
  width: fit-content;
  cursor: url("/assets/img/cursor/Cursor-emptylogo-red.png") 17 17, none;
}

h4 {
  color: #9a031e;
  font-size: 32px;
  line-height: 100%;
  font-weight: 500;
  width: fit-content;
  margin: 0;
  margin-top: -20px;
  cursor: url("/assets/img/cursor/Cursor-emptylogo-red.png") 17 17, none;
}
p {
  color: #090a0a;
  font-weight: 600;
  letter-spacing: 0.7px;
  line-height: 100%;
  margin: 0;
  font-size: 21px;
  background-color: #f4f4f4;
  cursor: url("/assets/img/cursor/Cursor-emptylogo-red.png") 17 17, none;
}

::-webkit-scrollbar {
  display: none;
}

.darkmode-background-color {
  //filter: invert(2%) sepia(4%) saturate(1127%) hue-rotate(131deg) brightness(97%) contrast(97%);
  color: #090a0a; // normal Text color + background darkmode
}

.default-background-color {
  //filter: invert(100%) sepia(44%) saturate(28%) hue-rotate(0deg) brightness(111%) contrast(91%);
  color: #f4f4f4; //bright hintergrund und dark text
}

.spec-text-color {
  //filter: invert(8%) sepia(75%) saturate(6406%) hue-rotate(344deg) brightness(98%) contrast(102%);
  color: #9a031e; // fav color special text
}

.vector-color {
  //filter: invert(56%) sepia(6%) saturate(139%) hue-rotate(131deg) brightness(85%) contrast(79%);
  color: #7a7d7d; // vector color
  color: #c2c2c2; // vector color
}

.color8 {
  //filter: invert(99%) sepia(4%) saturate(5310%) hue-rotate(298deg) brightness(124%) contrast(81%);
  color: #e7e5df; // maybe background color brightmode
}


.button, .button-reverse {
  transition: padding 0.3s, font-weight 0.3s;
  display: inline-flex;
  padding: 10px 60px;
  justify-content: center;
  align-items: center;
  font-family: "genos", sans-serif;
  font-size: 21px;
  letter-spacing: 0.7px;
  line-height: 100%;
  &:hover {
    transition: padding 0.3s, font-weight 0.3s;
    padding: 10px 70px;
    font-weight: 800;
    cursor: url("/assets/img/cursor/Cursor-pointer-red.png") 17 17, none;
  }
}

.button {
  border: 4px solid #090a0a;
  background-color: #f4f4f4;
  color: #090a0a;
  font-weight: 600;
}

.button-reverse {
  border: 4px solid #f4f4f4;
  background-color: #090a0a;
  color: #f4f4f4;
  font-weight: 500;

}