@import "/src/variables.scss";

@font-face {
  font-family: "genos";
  src: url("assets/fonts/Genos-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "tektur";
  src: url("assets/fonts/Tektur-VariableFont_wdth,wght.ttf") format("truetype");
}


body {
  margin: 0;
  background-color: $white;
  font-family: $genos;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(
    circle at 3px 40px,
    $grayLight 3px,
    transparent 0
  );
  background-size: 100px 120px;
  background-position: center;
  cursor: $cursorLogoRed;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  color: $black;
  margin: 0;
  font-family: $tektur;
  cursor: $cursorCircleRed;
}
h2 {
  font-size: 130px;
  line-height: 100%;
  transform: scaleY(0.5);
  width: fit-content;
  &:hover {
    color: $red !important;
  }
  @media (max-width: $step1Respo) {
    font-size: $h2FontSize2;
  }
  @media (max-width: $step2Respo) {
    font-size: $h2FontSize3;
    text-align: center;
    width: unset;
  }
  @media (max-width: $step3Respo) {
    font-size: $h2FontSize4;
  }
}

h3 {
  color: $black;
  font-size: 50px;
  line-height: 100%;
  transform: scaleY(0.5);
  width: fit-content;
}

h4 {
  color: $red;
  font-size: 32px;
  line-height: 100%;
  font-weight: 500;
  width: fit-content;
  margin: 0;
  margin-top: -20px;
  cursor: $cursorCircleRed;
}
p {
  color: $black;
  font-weight: 600;
  letter-spacing: 0.7px;
  line-height: 100%;
  margin: 0;
  font-size: $textFontSize1;
  background-color: $white;
  cursor: $cursorCircleRed;
}

::-webkit-scrollbar {
  display: none;
}

.button,
.button-reverse {
  transition: padding 0.3s, font-weight 0.3s;
  display: inline-flex;
  padding: 10px 60px;
  justify-content: center;
  align-items: center;
  font-family: $genos;
  font-size: 21px;
  letter-spacing: 0.7px;
  line-height: 100%;
  &:hover {
    transition: padding 0.3s, font-weight 0.3s;
    padding: 10px 70px;
    font-weight: 800;
    cursor: $cursorLogoRed;
  }
}

.button {
  border: 4px solid $black;
  background-color: $white;
  color: $black;
  font-weight: 600;
}

.button-reverse {
  border: 4px solid $white;
  background-color: $black;
  color: $white;
  font-weight: 500;
}

.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
